@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,600;1,800&family=Roboto:ital,wght@0,400;1,700&display=swap');

:root{
    --color-primary:#286aac;
    --color-secundary:#6d98c3;
}

/*----reset-----*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Montserrat', sans-serif;
    background-color:var(--color-primary) ;
    color: #FFFF;
    line-height: 1.6;
}

/*---clases utilidades----*/
h1{
    font-size: 3rem;
}
h2{
    font-size: 2.8rem;
    font-weight: 500;
}
h4{
    font-size: 1.3rem;
    font-weight: 400;
}

p{
    font-size: 1rem;
    line-height: 1.7rem;
}
a{
    text-decoration: none;
}

.container{
    margin: auto;
    max-width: 1200px;
    overflow: auto;
    padding: 0 20px;
}

.large{
    font-size: 1.3rem;
}

.btn{
    display: inline-block;
    padding: 12px 30px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 30px;
    text-transform: uppercase;
   
}

.btn-dark{
    border: none;
    background: var(--color-secundary);
    color: #FFFF;
}
.btn-show{
    background: var(--color-secundary);
}

/*-------Main-header-------*/
#main-header{
    height: 100vh;
}


#main-header h1{
  
    font-weight: 700;
    line-height: 3.7rem;
    text-transform: uppercase;
}

#main-header #navbar{
    overflow: auto;
    padding: 20px 20px;
  
}
#navbar a{
    color: #FFFF;
}

#navbar .logo{
    float: left;
    padding-top: 25px;
    font-size: 25px;
    height: 100px;
}

#navbar ul{
    list-style-type: none;
    float: right;
    text-transform: uppercase;
}

#navbar ul li{
    display: inline-block;
    margin-left: 15px;
    line-height: 100px;
}

#navbar ul li a{
    padding: 20px;
    text-align: center;
}




/*--------showcase-------*/
.showcase{
    padding: 80px 0;
}
.showcase .showcase-row{
    display: flex;
    justify-content: center;
}
.showcase-row .showcase-row-img{
    width: 400px;
    height: 400px;
    background-size: cover;
  
}

.showcase-row .showcase-row-img img{
    width: 100%;
}

.showcase-row .showcase-row-txt{
    padding-right: 50px; 
}

.showcase-row .showcase-row-txt p:first-child{
    text-transform: uppercase;
}
.showcase-row .showcase-row-txt p:nth-last-child(2){
    padding-top: 15px;
    padding-bottom: 15px;
  

}

/*------services---------*/
#service{
    padding: 80px 0;
}
#service h2,.txt-large{
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

#service .service-row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
}
.service-row-box img{
    width: 70%;
    display: block;
    
    margin: 0 auto; /*para centrar la img respecto al texto*/
}
.service-row-box{
    padding: 20px;

}
.service-row-box h4,p{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

/*------contacto------*/
#contact{
    padding:80px 0;
}
#contact .container,.large{
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 5px;
   
}
 .txt-secundary{
    text-align: center;
}




/*------Formulario--------*/
form .form-group label{
  
    display: inline-block;
    margin-bottom: 6px;
    color: #FFFF;
}
form .form-group {
    margin-bottom: 16px;
}

form .form-control{
    width: 100%;
    padding: 7px 12px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
}

form{
    padding-top: 80px;
    padding-bottom: 15px;
    width: 80%;
    text-align: center;
    display: block;
    margin: 0 auto;
}

form .btn {
    width: 100%;
    margin-top: 15px;

};


/*-----mainFooter-----*/

.main-footer{
    background: yellow;
    width: 50%;
  
   
}
.links{
    min-width: 400px;
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    margin: 20px auto;
}

.links a{
    background-color: #689bce;
    text-decoration: none;
    font-size: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: #FFFF;
    border-radius: 50%;
    text-align: center;
    box-shadow: 2px 2px 5px  rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}

.links a:hover{
    transform: scale(1.2);
}

.links a:hover:nth-child(1){
    color: #FFFF;
    background: blue;
}
.links a:hover:nth-child(2){
    color: #FFFF;
    background: green;
}
.links a:hover:nth-child(3){
    color: #FFFF;
    background: blue;
}

.links a:hover:nth-child(4){
    color: #FFFF;
    background: red;
}